<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="/mobile/lib/jquery.mobile.flatui.css" />
    <link rel="stylesheet" href="/mobile/lib/mobipick.css" />
    <link rel="stylesheet" href="/mobile/lib/common.css" />
    
    <script src="/mobile/controller/nomu.js?v5"></script>
    <script data-main="/mobile/lib/app" src="/mobile/lib/require.js"></script>

</head>
<body>
    <div id="pageNomu" data-role="page">
        <!--menu-->
        <div data-role="panel" id="menu">
            <ul id="listMenu" data-role="listview" data-theme="a">
            </ul>
        </div><!--//menu-->

        <div data-role="header">
			<a href="#menu" data-icon="bars" data-iconpos="notext">Menu</a>
            <h1>Eland</h1>
        </div>
        <div role="main" class="ui-content">
            <div class="ui-grid-b">
                <div class="ui-block-a" style="width: 40%;">
                    <input type="hidden" id="hdnCD_SITE" />
                    <button id="btnSite" data-mini="true" data-theme="b"><span id="spDS_SITE">현장</span></button>
                </div>
                <div class="ui-block-b" style="width: 30%;">
                    <input type="text" id="ctxtDS_NAME" data-mini="true" placeholder="이름검색" />
                </div>
                <div class="ui-block-c" style="width: 30%">
                    <input id="btnSearch" type="button" data-icon="search" data-iconpos="right" data-theme="d" data-mini="true" value="조회">
                </div>
            </div>
            <div style="margin-top: 25px; margin-bottom: 40px;">
                <ul id="listNomu" data-role="listview" data-theme="c">
                    <li data-role="list-divider" data-theme="f"></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div id="pageNomuDetail" data-role="page">
        <div data-role="header">
			<a href="#pageNomu" data-icon="back">목록</a>
            <h1>Eland</h1>
        </div>
        <div role="main" class="ui-content">
            <div class="ui-field-contain">
                <label for="txtDS_NAME">이름:</label>
                <input type="text" id="txtDS_NAME" />
                <label for="txtNO_ID">주민번호:</label>
                <input type="text" id="txtNO_ID" />
                <label for="txtTY_CHAIYOUNG">채용구분:</label>
                <input type="text" id="txtTY_CHAIYONG" />
                <label for="txtDT_IPSA">입사일자:</label>
                <input type="text" id="txtDT_IPSA" />
                <label for="files">증빙:</label>
            </div>
            <form method="post" id="form1">
                <label>신분증첨부</label>
                <div class="divFile"><input type="file" id="file1" name="file1" accept="image/*" /></div>
                <div id="imgPreview"></div>
                <label>통장첨부</label>
                <div class="divFile"><input type="file" id="file2" name="file2" accept="image/*" /></div> <!--  multiple="multiple" -->
                <div id="imgPreview2"></div>
            </form>
            
            <div class="divView">
            </div>
            <div class="divEdit" style="display:none;">
                <input type="button" id="btnSave" value="저장하기" data-theme="f" data-icon="edit" />
                <!--<div class="ui-grid-a">
                    <div class="ui-block-a">
                        
                    </div>
                    <div class="ui-block-b">
                        <input type="button" id="btnDelete" value="첨부삭제" data-theme="d" data-icon="delete" />
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</body>
</html>