A:hover {
	FONT-SIZE: 9pt; COLOR: #ff6633; FONT-FAMILY: "±¼¸²", "Arial"; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 9pt; FONT-FAMILY: "±¼¸²", "Arial"; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; FONT-FAMILY: "±¼¸²", "Arial"; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 13pt; FONT-FAMILY: "±¼¸²", "Arial"
}
.tit_f9 {
	FONT-SIZE: 9px; COLOR: #333333; FONT-FAMILY: "±¼¸²", "Arial"
}
.tit_f10 {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: "±¼¸²", "Arial"
}
.tit_f11 {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: "±¼¸²", "Arial"
}
.tit_f12 {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "±¼¸²", "Arial"
}
